<div class="d-flex min-vh-100">
  <!-- Sidebar -->
  <app-sidebar
    class="sidebar bg-light border-end overflow-hidden"
    [class.d-none]="!sidebarVisible"
  ></app-sidebar>

  <!-- Main Content -->
  <div class="main-content flex-grow-1 d-flex flex-column">
    <!-- Topbar (Navbar) -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-white border-bottom px-4"
    >
      <button
        class="navbar-toggler"
        type="button"
        (click)="toggleSidebar()"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="ms-auto d-flex align-items-center position-relative">
        <!-- User Info -->
        <div class="dropdown">
          <a
            class="d-flex align-items-center text-decoration-none dropdown-toggle"
            href="#"
            id="userDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="text-end me-2">
              <div class="fw-bold">{{ userName }}</div>
              <small class="text-muted">{{ userRole }}</small>
            </div>
            <img
              src="https://via.placeholder.com/40"
              alt="avatar"
              class="rounded-circle border"
              width="40"
              height="40"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end shadow"
            aria-labelledby="userDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                routerLink="/dashboard/profile"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                ><i class="bi bi-person me-2"></i>Profile</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item text-danger"
                href="#"
                (click)="logout($event)"
                ><i class="bi bi-box-arrow-right me-2"></i>Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content (Main Content) -->
    <main class="p-4" style="background-color: var(--color-bg)">

      <router-outlet></router-outlet>
    </main>
  </div>
</div>
