<div class="container">
  <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <ngx-datatable
    class="bootstrap"
    [rows]="users"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="5"
    [offset]="pageOffset"
    (page)="onPage($event)"
    [scrollbarH]="true"
  >
    <!-- Kolom Nomor -->
    <ngx-datatable-column name="No" [width]="60" [sortable]="false">
      <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        {{ pageOffset * 5 + rowIndex + 1 }}
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
    <ngx-datatable-column name="Nip" prop="nip"></ngx-datatable-column>
    <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
    <ngx-datatable-column name="Role" prop="role"></ngx-datatable-column>
    <ngx-datatable-column
      name="Refferal"
      prop="refferal"
    ></ngx-datatable-column>

    <ngx-datatable-column name="Status" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span class="badge" [ngClass]="row.active ? 'bg-success' : 'bg-secondary'">
          {{ row.active ? 'Active' : 'Inactive' }}
        </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="Actions"
      [sortable]="false"
      [resizeable]="false"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="btn btn-info btn-sm" (click)="updateUser(row.id)">
          Update
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteUser(row.id)">
          Delete
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
